.header {
  height: 3%;
  background:#23a6d559 !important; /* <=== I was desperate */
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
}

.headerText {
  text-align: center;
  justify-content: space-around;
  color: white;
  font-size: 2.5em;
  width: 100%;
  background-color: pink;
}

.profilePic {
  justify-content: center;
  align-content: center; 
  width: 50%;
  height: 0%;
}

@media (max-width: 768px) {
 .headerText {
  display: none;
  color: black;
 }
 .header {
  margin: 0;
  height: 5%;
  border-radius: 0;
 }
}