.header {
  height: 5%;
  /* width: 40%; */
  position: relative;
  background-color: #d9e5f7;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  padding: 1em 0em 2em 0em;
  display: flex;
}

.headerImg {
  text-align: bottom;
  justify-content: center;
  /* width: 20%; */
}

.headerText {
  text-align: center;
  justify-content: space-around;
}



