


.tweetBox {
  border: solid;
  margin: 1.5em 0em 0em 0em;
  padding: .5em;
  position: relative;
  background-color: white;
  border-radius: .5rem;
}

.tweetBox:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.tweetBox:hover .heartIcon {
  visibility: visible;
}

.tweetBox footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: solid;
  border-width: 3px 0px 0px 0px;
}

.tweetBox header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.userPic {
  display: flex;
  float: left;
}


.nameAndPic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nameAndPic img {
  margin-right: 10px;
}

.userHandle {
  opacity: 0.5;
} 

.tweetBox:hover.userHandle {
  opacity: 0.5;
}

.name {
  font-weight: lighter;
}

.tweetBox body {
  display: flex;
  width: 100%;
  margin: 3em;
  height: 15px;
}

.date {
  margin-top: 5px;
  font-size: 17px;
  padding: 5px;
}

.icons {
  border: none;
}

.heartIcon {
  visibility: hidden;
}



@media (max-width: 768px) {
  .heartIcon {
    visibility: visible;
  }
}
